footer {
    background: #3c3c3c;
    color: white;
    height: 100px;
    padding-left: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}

footer>div.container{
 padding-top: 20px;
 }